@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
  font-family: 'Noto Serif TC', serif !important;
  color: #6E696D !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif TC', serif !important;
  color: #6E696D !important;
}

mark.hltr-r {
  background-color: transparent !important;
  color: #bf616a !important;
}

mark.hltr-g {
  background-color: transparent !important;
  color: #679e67 !important;
}

blockquote {
  border-left: 4px solid #b0b0b0 !important;  // 灰色直條
  padding-left: 1em;
  margin-left: 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  color: #6E696D;  // 與你前面設定的文字顏色一致
  font-style: italic;  // 可選，如果你想讓引文有點區別
}

